body {
    margin: 0px;
    padding: 0px;
  
    font-family: "Cuprum", Arial , sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: #000000;
    
    background-color: #ffffff;
    background-position: top center;
    background-repeat: no-repeat;
}

.feedback-pop-up,
.map-pop-up,
.item-added-pop-up {
    display: none;
}

.unstyled-list,
.basket,
.order {
    list-style: none;
}

.person-cabinet-link {
    list-style-type: disc;
}

a {
    text-decoration: none;
}

.text-white a{ 
    color: #ffffff;
}

.head-navigation {
    font-size: 17px;
    line-height: 18px;
    font-weight: normal;
    text-align: left;
    color: #ffffff;

    background-color: #293449;
}

.search input {
    border: 0px;
    background-color:#293449;
}

input[type="search"]::-moz-placeholder {
    opacity: 1;
    color: #ffffff; 
}
input[type="search"]::-webkit-input-placeholder {
    color: #ffffff; 
}
input[type="search"]:-ms-input-placeholder {
    color: #ffffff; 
}
input[type="search"]::-ms-input-placeholder {
    color: #ffffff; 
}
input[type="search"]::placeholder { 
    color: #ffffff; 
} 

.order {
    background-color: #63a63e;
}

.main-navigation h1 {
    font-style: italic;
    font-size: 16px;
    font-weight: normal;
    line-height: 23px;
    text-align: left;
    color: #ee3643;
}

.header-contacts {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  text-align: center;
}

.person {
    font-size: 21px;
    line-height: 21px;

    background-color: #ffffff;
}

.my-order-link a,
.person-cabinet-link a{
    font-size: 16px;
    text-decoration: underline;
    font-weight: normal;
}

.telephone {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  text-align: center;
}

.user-navigation {
    font-size: 21px;
    line-height: 21px;
    font-style: normal;
    font-weight: normal;
    text-align: left;
}

.login-link,
.registration-link {
    background-color: #ffffff;
}

.breadcrumbs {
    font-size: 13px;
    line-height: 18px;
}

.catalog-title h2 {
    font-family: Cuprum;
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;
    text-transform: uppercase;

    background-color: #f2f6f8;
}

.filters {
    text-transform: uppercase;
}

.filters h3{
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
}

.filters h4 {
    font-size: 17px;
    line-height: 30px;
}

.producer label,
.power label{
    font-family: PTSans, Arial, sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: normal;
}

.item {
    font-family: PTSans, Arial, sans-serif;
}

.button {
    font-family: PTSans, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
}

.item h4 {
    font-size: 18px;
    line-height: 20px;
}

.price,
.price-discount {
    font-size: 17px;
    line-height: 18px;
}

.price {
    display: block;
    text-decoration: line-through;
    color: #999999
}

.price-discount {
    color: #ffffff;
    background-color: #ee3643;
}

.pagination-list a,
.user-navigation a,
.breadcrumbs a {
    color: #000000;
}

.filtr,
.sorting {
    background-color: #f7f3ec;
}

.main-menu {
    font-size: 17px;
    font-weight: normal;
    line-height: 17px;

    background-color: #32425c;
}

.main-header {
    background-color: #f3f7f8;
}

.company {
    font-family: Cuprum, Arial, sans-serif; 
    font-weight: normal;
    background-color: #ffffff;
}

.company h2 {
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;
    text-transform: uppercase;
}

.company-about p {
    font-size: 13px;
    line-height: 24px;
}

.company-about .pop-up-link,
.company-contacts .pop-up-link {
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;

    background-color: #ee3643;
}

footer {
    color: #ffffff;
    background-color: #32425c;
}

.minor {
    font-size: 18px;
    font-weight: normal;
    line-height: 24px;
    text-align: left;
    color: #f3f7f9;
}

.pick-out a {
    color: #ffd180;
}

.finale {
    font-size: 16px;
    font-weight: normal;
    line-height: 18px;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;

    background-color: #293449;
}

.htmlacademy a {
    color:#ffd180;
}

.social li {
    background-color: #212a3a;
}

.buy {
    background-color: #63a63e;
    color: #ffffff;
}

.buy,
.add-bookmarks {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: normal;
}

.add-bookmarks {
    font-family: PTSans, Arial, sans-serif;
    border:2px solid #63a63e;
    background-color: #ffffff;
}

.order:hover {
    background-color: #5fbb2d;
}

.order-manu .bookmarks:active,
.order-manu .basket:active,
.main-menu .point:active {
    color: #999ca1;
    background-color: #161d29;
}

.order-manu .order:active {
    background-color: #518534;
}

.search input:hover,
.bookmarks:hover,
.basket:hover,
.main-menu li:hover {
    background-color: #212a3a;
}

.search input:focus {
    color: #000000;
    background-color: #ffffff;
}

.user-navigation a:hover,
.user-navigation a:focus {
    color: #ee3643;
}

.person a:hover {
    color: #444444;
}

.user-navigation a:active,
.person a:active {
    color:#c7c7c7;
}

.pop-up-link:hover {
    background-color: #ca2c37;
}

.pop-up-link:active {
    background-color: #ba2732;
}

.minor a:hover,
.htmlacademy a:hover{
    text-decoration: underline;
}

.footer-navigation a:active,
.pick-out a:active {
    color: #929caa;
}

.htmlacademy a:active {
    color: #e13643;
}

.social li:active,
.social li:hover {
    background-color: #ee3643;
}

.producer input:hover,
.power input:hover {
    color: #b5b5b5;
}

.producer input:disabled + label,
.power input:disabled + label {
    color: #e9e9e9;
}

.buy:hover {
    background-color: #5fbb2d;
}
.buy:active {
    background-color: #518534;
}

.item button:hover {
    border-color: #32425c;
}

.item button:active {
    border-color: #c1c6ce;
    color: #c1c6ce;
}