body {
    margin: 0px;
    padding: 0px;
  
    font-family: "Cuprum", Arial , sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: #000000;
    
    background-color: #ffffff;
    background-position: top center;
    background-repeat: no-repeat;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.feedback-pop-up,
.map-pop-up,
.item-added-pop-up {
    display: none;
}

.unstyled-list,
.basket,
.order {
    list-style: none;
}

.person-cabinet-link {
    list-style-type: disc;
}

a {
    text-decoration: none;
}

.text-white a{ 
    color: #ffffff;
}

.head-navigation {
    height: 42px;
    font-size: 17px;
    line-height: 18px;
    font-weight: normal;
    text-align: left;
    color: #ffffff;

    background-color: #293449;
}

.search input {
    border: 0px;
    background-color:#293449;
}

input[type="search"]::-moz-placeholder {
    opacity: 1;
    color: #ffffff; 
}
input[type="search"]::-webkit-input-placeholder {
    color: #ffffff; 
}
input[type="search"]:-ms-input-placeholder {
    color: #ffffff; 
}
input[type="search"]::-ms-input-placeholder {
    color: #ffffff; 
}
input[type="search"]::placeholder { 
    color: #ffffff; 
} 

.order {
    background-color: #63a63e;
}

.main-navigation h1 {
    font-style: italic;
    font-size: 16px;
    font-weight: normal;
    line-height: 23px;
    text-align: left;
    color: #ee3643;
}

.header-contacts {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  text-align: center;
}

.person {
    font-size: 21px;
    line-height: 21px;

    background-color: #ffffff;
}

.header-contacts p:last-child {
    margin-bottom: 0;
}

.my-order-link a,
.person-cabinet-link a{
    font-size: 16px;
    text-decoration: underline;
    font-weight: normal;
}

.telephone {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  text-align: center;
}

h1 {
    height: 62px;
    margin-right: 66px;
    margin-bottom: 0;
}

.user-navigation {
    font-size: 21px;
    line-height: 21px;
    font-style: normal;
    font-weight: 700;
    text-align: left;
}

.minor-align-link {
    height: 68px;;
}

.minor-align-addres {
    margin: 0;
}

.login-link,
.registration-link {
    background-color: #ffffff;
}

.point:first-child {
    padding-left: 50px;
}

.point:last-child {
    padding-right: 55px;
}

.breadcrumbs {
    font-size: 13px;
    line-height: 18px;
}

.catalog-title h2 {
    font-family: Cuprum;
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;
    text-transform: uppercase;

    background-color: #f2f6f8;
}

.filters {
    text-transform: uppercase;
}

.filters h3{
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
}

.person {
    padding: 12px 65px 15px 48px;
   height: 20px;
}

.my-order-link {
    margin-left: 18px; 
}

.person-cabinet-link {
    margin-left: 30px;
}

.filters h4 {
    font-size: 17px;
    line-height: 30px;
}

.filtr-producer label,
.power label{
    font-family: PTSans, Arial, sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: normal;
}

.item {
    margin: 9px;
    border: 1px solid #e5e5e5;
    text-align: center;
}

.add-bookmarks {
    width: 128px;
    height: 38px;
    border-radius: 2px;
    margin-top: 16px;
}

.buy {
    padding: 9px 35px 7px 38px;
    border-bottom: 3px solid #367315;
    border-radius: 2px;
}

.producer,
.catalog-item-title {
    color: #000000;
}

.minor img {
    width: 220px;
    height: 65px;
}

.item {
    font-family: PTSans, Arial, sans-serif;
}

.button {
    font-family: PTSans, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
}

.item h4 {
    font-size: 18px;
    line-height: 20px;
}

.price,
.price-discount {
    font-size: 17px;
    line-height: 18px;
}

.price {
    display: block;
    text-decoration: line-through;
    color: #999999
}

.price-discount {
    color: #ffffff;
    background-color: #ee3643;
}

.catalog-list li {
    width: 220px;
}

.filtr-producer,
.power {
    padding-left: 0; 
}

.filtr-producer {
    border-bottom: 1px solid #e5e5e5;
}

.filters h4 {
    margin: 0;
}

.filtr-producer {
    padding-bottom: 22px;
}

.sorting {
    width: 700px;
    margin-left: 10px;
}

.button {
    width: 140px;
    height: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
    margin-top: 58px;
}

.breadcrumbs li {
    margin: 0 20px;
    text-transform: uppercase;
}

.pagination-item {
    padding: 7px 17px;
    border: 1px solid #e5e5e5;
    margin-right: 10px;
    border-radius: 2px;
}

.pagination-item:active,
.next-pagination-item:active {
    border: 1px solid #ee3643;
}

.next-pagination-item {
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    padding: 7px 38px;
}

.pagination-list a,
.user-navigation a,
.breadcrumbs a {
    color: #000000;
}

.filtr,
.sorting {
    background-color: #f7f3ec;
}

.main-menu {
    font-size: 17px;
    font-weight: normal;
    line-height: 17px;

    background-color: #32425c;
}

.main-header {
    background-color: #f3f7f8;
}

.company {
    font-family: Cuprum, Arial, sans-serif; 
    background-color: #ffffff;
}

.company h2 {
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;
    text-transform: uppercase;
}

.company-about p {
    font-size: 13px;
    line-height: 24px;
}

.finale p:last-child {
    margin: 0 16px 0 48px;
}

.finale p:first-child {
    margin: 0;
}

.htmlacademy {
    margin-top: 0;
    margin-bottom: 0;
}

.company-about .pop-up-link,
.company-contacts .pop-up-link {
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;

    background-color: #ee3643;
}

footer {
    color: #ffffff;
    background-color: #32425c;
}

.minor {
    font-size: 18px;
    font-weight: normal;
    line-height: 24px;
    text-align: left;
    color: #f3f7f9;
}

.pick-out a {
    color: #ffd180;
}

.finale {
    font-size: 16px;
    font-weight: normal;
    line-height: 18px;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;

    background-color: #293449;
}

.htmlacademy a {
    color:#ffd180;
}

.social li {
    background-color: #212a3a;
}

.buy {
    background-color: #63a63e;
    color: #ffffff;
}

.buy,
.add-bookmarks {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: normal;
}

.add-bookmarks {
    font-family: PTSans, Arial, sans-serif;
    border:3px solid #63a63e;
    background-color: #ffffff;
}

.search input{
    width: 270px;
    height: 42px;
}

.head-navigation img {
    width: 220px;
    height: 47px;
}

.order-manu li {
    text-align: center;
    padding: 12px 0;  
    height: 18px;
    width: 150px;
}

.login-link {
    height: 31px;
    width: 122px;
    background-color: #ffffff;
}

.registration-link {
    height: 31px;
    width: 150px;
    background-color: #ffffff;
}

.login-link {
    padding: 14px 0 0 0;
}

.registration-link {
    padding: 14px 0 0 0;
    margin-left: 10px;
}

.company-about {
    width: 500px;
    margin-right: 140px;
}

.company-contacts {
    width: 300px;
}

.detailed {
    padding: 15px 40px;
    border-radius: 3px;
    
}

.capability {
    margin: 17px 0 55px 0;
}

.company h2 {
    margin-top: 0;
}

.feedback {
    padding: 12px 60px;
    border-radius: 3px;
}

.company-contacts-map {
    margin-bottom: 30px;
}

.telephone {
    border: 3px solid #ffffff;
    padding: 10px 0;
    margin: 0px 0px;  
}

.order:hover {
    background-color: #5fbb2d;
}

.order-manu .bookmarks:active,
.order-manu .basket:active,
.main-menu .point:active {
    color: #999ca1;
    background-color: #161d29;
}

.order-manu .order:active {
    background-color: #518534;
}

.search input:hover,
.bookmarks:hover,
.basket:hover,
.main-menu li:hover {
    background-color: #212a3a;
}

.search input:focus {
    color: #000000;
    background-color: #ffffff;
}

.user-navigation a:hover,
.user-navigation a:focus {
    color: #ee3643;
}

.person a:hover {
    color: #444444;
}

.user-navigation a:active,
.person a:active {
    color:#c7c7c7;
}

.pop-up-link:hover {
    background-color: #ca2c37;
}

.pop-up-link:active {
    background-color: #ba2732;
}

.minor a:hover,
.htmlacademy a:hover{
    text-decoration: underline;
}

.footer-navigation a:active,
.pick-out a:active {
    color: #929caa;
}

.htmlacademy a:active {
    color: #e13643;
}

.social li:active,
.social li:hover {
    background-color: #ee3643;
}

.producer input:hover,
.power input:hover {
    color: #b5b5b5;
}

.producer input:disabled + label,
.power input:disabled + label {
    color: #e9e9e9;
}

.buy:hover {
    background-color: #5fbb2d;
}
.buy:active {
    background-color: #518534;
}

.logo-link img:hover,
.logo-link img:active {
    opacity: 0.9;
}

.item button:hover {
    border-color: #32425c;
}

.item button:active {
    border-color: #c1c6ce;
    color: #c1c6ce;
}

/*Сетка*/

.head-navigation {
    margin-bottom: 50px;
    padding: 0 10px;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
}

.order-manu {
    display: flex;
    flex-direction: row;
    align-self: center;
    padding-left: 0px;
}

.main-navigation {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-navigation-align-other {
    margin-bottom: 30px;
    width: 940px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    
    justify-content: flex-end;
}

.main-navigation-align-manu {
    margin-bottom: 60px;
    box-sizing: border-box;
    height: 60px;
}

.header-contacts {
    margin-right: 66px;
}

.main-menu {
    min-width: 940px;
    display: flex;
    flex-direction: row;
    padding-left: 0px;
    margin: 0px;
}

.point {
    flex-grow: 1;
    padding: 22px 32px;
}

.user-navigation {
    width: 300px;
    display: flex;
    flex-flow: row wrap;
    margin: 0 0;
}

.user-navigation li {
    display: flex;
    justify-content: center;
}

.company {
    display: flex;
    justify-content: center;
    padding: 0 10px;
    margin: 80px 0 86px 0;
}

.minor {
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
}

.minor-align {
    display: flex;
    justify-content: center;
}

.footer-navigation {
    width: 550px;
    display: flex;
    margin: 42px 0px 40px 170px;
    padding-left: 0;
    justify-content: space-between;
}

.pick-out {
    width: 524px;
    display: flex;
    margin: 0 0 0 52px;
    justify-content: space-between;
}   

.finale {
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.social {
    display: flex;
    margin: 0 122px 0 160px;
    padding-left: 0;
}

.container {
    display: flex;
    justify-content: center;
    padding: 0 10px;
}

.breadcrumbs {
    display: flex;
}

.filters {
    display: flex;
    flex-direction: column;
    width: 220px;
    margin-right: 10px;
}

.catalog {
    display: flex;
    flex-direction: column;
    width: 720px;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding: 0;
}

.catalog-title h2 {
    padding: 30px 740px 35px 32px;  
}

.container-align {
    display: flex;
    flex-direction: column;
}

.container-align-main {
    display: flex;
    flex-direction: row;
}

.pagination-list {
    display: flex;
    padding-left: 10px; 
}

